body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#___gatsby {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  /*flex-direction: column;*/
  /*border: 5px solid red;*/
}

#___gatsby > div {
  /*border: 5px solid yellow;*/
  /*height:100%;*/
  flex: 1;
}
